# Node.js
node_modules/

# Next.js
.next/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# Log files
*.log
.vercel
